
<div class="container">

<div class="col-md-12" style="margin-top:15px;overflow: auto ;">
    <h1 style="color:black; text-align: center;"> Civil Engineering</h1>
    <img src="../images/civil-1.jpg" style="float:left;width: 300px;height:200px;padding: 10px;border-radius:15px;" >
    <p style="color:#222222;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin-top: 13px;" class="text-justiy">
        Civil engineering is traditionally broken into a number of sub-disciplines. It is considered the second-oldest engineering discipline after military engineering, and it is defined to distinguish non-military engineering from military engineering. Civil engineering can take place in the public sector from municipal public works departments through to federal government agencies, and in the private sector from locally based firms to global Fortune 500 companies.
    </p>

    <hr style="margin-top:100px;">

    <h1 style="color:black; text-align: center;">Construction Engineering</h1>
    <img src="../images/construction.png" style="float:right;width: 300px;height:200px;padding: 10px;border-radius:15px;" >
    <p style="color:#222222;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin-top: 13px;"  class="text-justiy">
        Engineering requires many building blocks and tools. To produce real world results, one must practically apply mathematics and sciences to tangible problems and scenarios. Included in this category are the various technical topics which cut across engineering disciplines, encompassing many branches of mathematics and scientific disciplines.
        </p>
        <hr style="margin-top:100px;">

        <h1 style="color:black; text-align: center;">Structural Engineering</h1>
        <img src="../images/gscp9tciykkko7bzirvd.jpg" style="float:left;width: 300px;height:200px;padding: 10px;border-radius:15px;" >
        <p style="color:#222222;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin-top: 13px;"  class="text-justiy">
            Structural engineering is a sub-discipline of civil engineering in which structural engineers are trained to design the 'bones and muscles' that create the form and shape of man-made structures. Structural engineers also must understand and calculate the stability, strength, rigidity and earthquake-susceptibility of built structures for buildings and nonbuilding structures. The structural designs are integrated with those of other designers such as architects and building services engineer and often supervise the construction of projects by contractors on site.
            </p>
            <hr style="margin-top:100px;">

            <h1 style="color:black; text-align: center;">Enviromental Engineering</h1>
            <img src="../images/environmental-engineer-500x500 (1).png" style="float:right;width: 300px;height:200px;padding: 10px;border-radius:15px;" >
            <p style="color:#222222;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin-top: 13px;"  class="text-justiy">
                Environmental engineering is a professional engineering discipline that encompasses broad scientific topics like chemistry, biology, ecology, geology, hydraulics, hydrology, microbiology, and mathematics to create solutions that will protect and also improve the health of living organisms and improve the quality of the environment. Environmental engineering is a sub-discipline of civil engineering and chemical engineering.
                Environmental engineering is the application of scientific and engineering principles to improve and maintain the environment to:
                protect human health,
                protect nature's beneficial ecosystems,
                and improve environmental-related enhancement of the quality of human life.
                

           </p> 
           
           <hr style="margin-top:100px;">

</div>
</div>   